h1,
p {
  font-family: Lato;
}

input,
button,
select,
textarea {
  padding: 0.3em 0.7em;
  margin: 0.3em 0;
}

body {
  margin: 0;
  margin-top: 3em;
  padding: 0;
}

.debug {
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffffdd;
  box-shadow: 0 0 4px black;
  cursor: pointer;
}

.debug:hover {
  background: white;
}
